.routeName:hover .parentHover{
  color: #FF4847;
}
.routeName .routeNameChild {
  visibility: hidden;
  top: 60px;
  left: -20px;
  border-radius: 5px;
  box-shadow: 0px 0px 25px -10px #8080806b;
}

.routeName:hover .routeNameChild {
  visibility: visible;
}
.sidebarNav{
  left: -1000px;
  border-radius: 0px 15px 15px 0px;
}
.homeChild{
  display: none;
}